.Toastify__toast-container {
	width: 300px;
	position: fixed;
	top: 50px;
	right: 20px;
	z-index: 9999;
}

.Toastify__toast--success {
	background-color: rgba(0, 0, 0, 0.3);
}

.Toastify__toast--error {
	background-color: rgba(0, 0, 0, 0.3);
}

.Toastify__toast--info {
	background-color: rgba(0, 0, 0, 0.3);
}

.Toastify__toast-body {
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	color: white;
}
