.main-content{
    display: flex;
    justify-content: center;align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/home2-img.jpg');
    background-size: cover;
    background-position: center;

}

.welcome-info{
    color: white;
    text-transform: uppercase;


}

.welcome-info h1{
    font-size: 45px;
    letter-spacing: 2px;
}

.welcome-info p{
    margin-top: 20px;
    text-align: center;
}