.navigation{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: rgb(0, 0, 0,0.4);
    color: white;
    
    
}

.nav-items{
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.nav-item{
    text-decoration: none;
    cursor: pointer;
    /* color: white; */
}

.nav-item-logo{
    text-decoration: none;
    color: white;
}
.nav-item-logout{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}


 .dropdown{
    position: relative;
 }

 .sub-menu {
    position: absolute;
    top: 70px;
    right: 50%;transform: translateX(50%);
    width: 200px;
    
    background-color: rgb(0, 0, 0,0.4);
    
    padding: 10px; /* opcjonalny: wewnętrzny odstęp w menu */
    z-index: 1000; /* opcjonalny: warstwa na wierzchu */
    text-align: center;
    
}



.sub-menu li {
    list-style: none; /* usuń domyślne punkty w liście 
    podrzędnej */
    padding: 20px 0;
    
}

.sub-menu li a {
    text-decoration: none; /* usuń podkreślenie odnośników */
    color: white;
}

.sub-menu li a:hover {
    color: #007bff; /* opcjonalny: zmiana koloru tekstu po najechaniu */
}



